# Build folders
server/bin/
server/obj/

# Output files
*.dll
*.exe
*.pdb

# User and IDE files
*.user
*.suo
*.vs/
*.vscode/

# Project system
*.csproj.user
*.cache
*.log
*.sln.docstates

# Publish artifacts
*.deps.json
*.runtimeconfig.json
*.nuget.props
*.nuget.targets
*.swp
